# Missing Value

In [1]:
import pandas as pd
from io import StringIO
# ~io gives fileobject interface to object

In [4]:
csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''
df = pd.read_csv(StringIO(csv_data))
df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [11]:
df.isnull().sum()

A    0
B    0
C    1
D    1
dtype: int64

In [19]:
df.dropna() # axis=0

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [13]:
df.dropna(axis=1)

      A     B
0   1.0   2.0
1   5.0   6.0
2  10.0  11.0

In [14]:
df.dropna(how='all')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

In [17]:
df.dropna(thresh=4)

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [18]:
df.dropna(subset=['B','C'])

      A     B     C    D
0   1.0   2.0   3.0  4.0
2  10.0  11.0  12.0  NaN

In [22]:
from sklearn.preprocessing import Imputer
imr =Imputer(missing_values="NaN", strategy='mean', axis=0)
imr.fit(df)
imputed_data = imr.transform(df.values)
imputed_data

array([[  1. ,   2. ,   3. ,   4. ],
       [  5. ,   6. ,   7.5,   8. ],
       [ 10. ,  11. ,  12. ,   6. ]])

axisは計算する向き。  
pandasでもいろいろできる。

In [31]:
df.fillna(method="ffill", axis=0)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   3.0  8.0
2  10.0  11.0  12.0  8.0

In [32]:
df.fillna(method="bfill", axis=1)

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   8.0  8.0
2  10.0  11.0  12.0  NaN

In [35]:
df.interpolate(method='index')

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  8.0
2  10.0  11.0  12.0  8.0